
.content_wrapper {
    width: 1020px;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}
.header_wrapper {
    width: 100%;
    background-color: #2d303a;
    display: flex;
    justify-content: center;
}

.header {
    height: 90px;
    display: flex;
    background-color: #2d303a;
    justify-content: space-between;
    width: 1022px;
    align-items: center;
    border-bottom: 6px solid #323746;
    position:fixed;
    z-index: 999;
}

.header_h1 {
    position:absolute;
    margin-left: -100px;
    color: white;
}

.logo {
    letter-spacing: 0px;
    font-size: 25px;
    font-family: "Lato";
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
    text-decoration: none;
    margin-left: 42px;
}

.logo .text {
    color: #ffffff;
}

.logo .symbol {
    color: #f06c64;
    margin-left: -5px;
}

.navbar {
    width: 371px;
    font-size: 12px;
    font-family: "Lato";
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
    margin-top: 10px;
    margin-right: 42px;
}

.navbar .navbar_list {
    display: flex;
    justify-content: space-between;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
}

.navbar ul li a:hover {
    color: #f06c64;
}

.slider {
    background-color: #f06c64;
    width: 1024px;
    height: 594px;
    border-bottom: 6px solid #ea676b;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 96px;
    /* position: absolute; */
}

.slider_new_background {
    background-color: #648BF0;
    border-bottom: 6px solid #648BF0;
}

.button_new_background {
    background-color: #648BF0;
}

.slider .main {
    display: flex;
    width: 796px;
}

.slide2 {
    float: left;
    width: 100%;
    height: 606px;
    /* padding: 150px 0 54px; */
    background-color: #648BF0;
}

.item {
    display: none;
    position: relative;
    animation: 0.5s ease-in-out;
}

.item.active {
    display: block;
}


.active,
.next {
    display: block;
} 

 .next {
    position: absolute;
    width: 100%;
    top:0;
}

.item_container {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.to-left {
    animation-name: left;
}

.to-right {
    animation-name: right;
    animation-direction: reverse;
}

.from-left {
    animation-name: left;
    animation-direction: reverse;
}

.from-right {
    animation-name: right;
}

@keyframes left {
    from {
        left: 0;
    }
    to {
        left: -100%
    }
}

@keyframes rigth {
    from {
        left: 100%;
    }
    to {
        left: 0%
    }
}

.iphone_vert {
    margin-bottom: 50px;
}

.iphone_horiz {
    right: 330px;
    position: relative;
    top: 85px;
}

/***********/

.slider2_wrap {
    position: relative;
}

.slider2__image_1 {
    position: absolute;
    top: 158px;
    left: 172px;
    z-index: 0;
    cursor: pointer;
}

.slider-wrap__black-vertical-one {
    position: absolute;
    width: 123px;
    height: 218px;
    background-color: #000;
    left: 180px;
    top: 146px;
    z-index: 2;
    cursor: pointer;
}

/* .slider-wrap__screen-wrap-vertical-two {
    position: relative;
} */

.slider2__image_2 {
    position: absolute;
    top: 49px;
    left: 303px;
    z-index: 1;
    cursor: pointer;
}

.slider-wrap__black-vertical-two {
    position: absolute;
    width: 201px;
    height: 355px;
    background-color: #000;
    right: 332px;
    top: 63px;
    z-index: 2;
    cursor: pointer;
}

/* .slider-wrap__screen-wrap-vertical-three {
    position: relative;
} */

.slider2__image_3 {
    position: absolute;
    top: 158px;
    left: 532px;
    z-index: 0;
    cursor: pointer;
}

.slider-wrap__black-vertical-three {
    position: absolute;
    width: 123px;
    height: 218px;;
    background-color: #000;
    right: 186px;
    top: 146px;
    z-index: 2;
    cursor: pointer;
}
/***********/


/* .action_button {
    background-color:  #f06c64;
} */

.button {
    height: 27px;
    width: 16px;
    background-color:  #f06c64;
    border: none;
    margin: 0px 42px 0px 42px;
}

.button:hover {
    /* background-color: white; */
    border: 1px solid #5f201d;
}

.left_button {
    background-image: url('./assets/images/left_button.svg');
}

.right_button {
    background-image: url('./assets/images/right_button.svg');
}

.our_service {
    width: 100%;
    height: 493px;
    border-bottom: 5px solid white;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
}

.our_service_main {
    width: 940px;
    /* display: flex;
    flex-direction: column; */
    /* justify-content: space-between; */
}

.our_service_title_wrapper {
    width: 100%;
    padding-top: 61px;
}

.our_service_title {
    font-size: 30px;
    font-family: "Lato";
    font-weight: 900;
    font-style: normal;
    text-decoration: none;
    color: #666d89;
    /* margin-top: 50px; */
}

.our_service_text {
    letter-spacing: 0px;
    width: 100%;
    height: 57px;
    font-size: 18px;
    line-height: 30px;
    font-family: "Lato";
    font-weight: 300;
    font-style: normal;
    text-decoration: none;
    color: #767e9e;
    text-align: left;
    padding-top: 21px;
}

.our_service_table {
    display: grid;
    grid-template-columns: 320px 320px 320px;
    grid-template-rows: 86px 86px;
    padding-top: 48px;
    grid-row-gap: 37px;
}

.our_services_names {
    font-size: 18px;
    line-height: 18px;
    color: #666d89;
    font-family: "Lato";
    font-weight: 900;
    text-align: left;
}

.our_services_description {
    width: 219px;
    font-size: 12px;
    line-height: 22px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 400;
    text-align: left;
    padding-top: 8px;
    overflow: hidden;
}

.our_services_img_wrapper {
    height: 86px;
    display: flex;
    align-items: flex-start;
}

.our_services_cell {
    display: flex;
    height: 86px;
}

.our_services_names {
    width: 219px;
}

.our_services_text_cell {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 20px;
}



.portfolio {
    background-color: #2d303a;
    height: 864px;
    display: flex;
    justify-content: center;
    border-bottom: 6px solid #323746;
    width: 100%
}

.portfolio_main {
    width: 940px;
}

.portfolio_title {
    height: 120px;
    width: 100%;
    /* border: 1px solid red; */
}

.portfolio_title_text {
    font-size: 30px;
    line-height: 18px;
    color: #666d89;
    font-family: "Lato";
    font-weight: 900;
    text-align: left;
    padding-top: 69px;
}

.portfolio_description {
    background-origin: padding-box;
    width: 100%;
    /* border: 1px solid green; */
    height: 18px;
}

.portfolio_description_text {
    font-size: 18px;
    line-height: 18px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 300;
    text-align: left;
    /* border: 1px solid yellow; */
}

.portfolio_menu_navbar {
    letter-spacing: 0px;
    width: 290px;
    font-size: 12px;
    line-height: 22px;
    /* color: #767e9e; */
    font-family: "Lato";
    font-weight: 400;
    text-align: left;
    margin-top: 17px;
}

.portfolio_menu_navbar_list {
    display: flex;
    justify-content: space-between;
}

.portfolio_menu_navbar ul li a {
    color: #767e9e;
    text-decoration: none;
    border: 1px solid #767e9e;
    border-radius: 5px;
    padding: 2px 6.5px 2.5px 6.5px;
    /* padding: auto; */
}

.portfolio_menu_navbar ul li a:hover {
    color: #dedede;
    border: 1px solid   #dedede;
}

.portfolio_grid {
    display: grid;
    grid-template-columns: 220px 220px 220px 220px;
    grid-template-rows: 187px 187px 187px;
    grid-row-gap: 20px;
    grid-column-gap: 20px;
    padding-top: 19px;
    overflow: hidden;
    max-height: 620px;
}

.portfolio_grid_cell {
    /* height: 187px;
    width: 220px; */
    background-color: #666d89;
}

.about {
    display: flex;
    justify-content: center;
    height: 728px;
    background-color: #f2f2f2;
    width: 100%;
    border-bottom: 6px solid white;
}

.about_main {
    width: 940px;
}

.about_title {
    height: 45px;
    width: 100%;
    padding-top: 68px;
}
.about_title_text {
    font-size: 30px;
    line-height: 18px;
    color: #666d89;
    font-family: "Lato";
    font-weight: 900;
    text-align: left;
    letter-spacing: 0px;
}

.about_description_text {
    width: 940px;
    height: 57px;
    font-size: 18px;
    line-height: 30px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 300;
    text-align: left;
    letter-spacing: 0.1px;
}

.photo_grid {
    display: grid;
    grid-template-columns: repeat(3, 300px);
    grid-template-rows: 300px;
    column-gap: 20px;
    row-gap: 20px;
    padding-top: 48px;
}

.photo_description_name {
    font-size: 18px;
    line-height: 46px;
    color: #666d89;
    font-family: "Lato";
    font-weight: 900;
    text-align: left;
    letter-spacing: -0.1px;
}

.photo_description_text {
    width: 300px;
    height: 64px;
    font-size: 12px;
    line-height: 20px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 400;
    text-align: left;
    margin-top: -2px;
}

.photo_cell_navbar {
    letter-spacing: 0px;
    width: 160px;
} 

.photo_cell_navbar_list {
    display: flex;
    justify-content: space-between;
}

.photo_cell_navbar .social_link {
    width: 32px;
    height: 32px;
    color: #767e9e;
    text-decoration: none;
    border: 1px solid #767e9e;
    border-radius: 50%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 1px;
    margin-right: 7px;
}

.social_link {
    fill: #666d89;
}
.social_link:hover {
    fill: #393e55;
    border-color: black;
}

.contacts {
    background-color: #f06c64;
    height: 648px;
    display: flex;
    justify-content: center;
    border-bottom: 6px solid #ea676b;
    width: 100%;
}

.contacts_main {
    width: 940px;
}

.contacts_title_text {
    font-size: 30px;
    line-height: 30px;
    color: #f0d8d9;
    font-family: "Lato";
    font-weight: 900;
    text-align: left;
    padding-top: 63px;
}

.contacts_description_text {
    width: 940px;
    height: 60px;
    font-size: 18px;
    line-height: 30px;
    color: #f0d8d9;
    font-family: "Lato";
    font-weight: 300;
    text-align: left;
    padding-top: 20px;
    letter-spacing: 0.17px;
}

.contact_us {
    display: grid;
    grid-template-columns: 620px 321px;
    grid-template-rows: 440px;
    margin-top: 40px;
    column-gap: 20px;
}

.contact_form {
    display: block;
    height: 397px;
    padding-top: 5px;
}

.contact_form .form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.form_input {
    height: 36px;
    border-radius: 5px;
    background-color: #d6564f;
    border: none;
    font-family: Lato, sans-serif;
    color: black;
    font-weight: normal;
    font-size: 12px;
    padding-left: 15px;
}

.form_input_text {
    height: 189px;
    padding-top: 11px;
    resize: none;
}

.form_input::placeholder {
    color: #f48c8f;
}

.form_input:focus::placeholder {
    color: transparent;
}

.form_submit {
    background-color: #d6564f;
    border-radius: 5px;
    width: 100px;
    height: 20px;
    border: none;
    align-self: flex-end;
}

.form_input:hover,
.form_submit:hover {
  background-color: #b36c697c;
}

.form_submit:hover {
  cursor: pointer;
}

.contact_information {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    height: 100%;
    padding-top: 4px;
}

.contact_information_title {
    font-size: 18px;
    line-height: 18px;
    color: #f0d8d9;
    font-family: "Lato";
    font-weight: 900;
    text-align: left;
}

.contact_information_description {
    margin-top: 11px;
    width: 300px;
    height: 100px;
    font-size: 12px;
    line-height: 21px;
    color: #f0d8d9;
    font-family: "Lato";
    font-weight: 400;
    text-align: justify;
}

.contact_information_address {
    display: flex;
    flex-direction: column;
    justify-content: start;
    height: 80px;
}
.contact_information_address {
    margin-top: 8px;
}
.contact_information_address_link{
    font-size: 12px;
    line-height: 21px;
    color: #f0d8d9;
    font-family: "Lato";
    font-weight: 400;
    text-align: left;
    text-decoration:none;
}

.contact_information_address_link:hover {
    color: #b14a44;
}

.contact_information_location {
    margin-left: 2px;
}

.contact_information_location::before {
    content: url(./assets/images/location.svg);
    margin-right: 13px;
  }
.contact_information_tel::before {
    content: url(./assets/images/tel.svg);
    margin-right: 11px;
}
.contact_information_mail::before {
    content: url(./assets/images/mail.svg);
    margin-right: 10px;
}

.footer {
    display: flex;
    justify-content: center;
    height: 76px;
    background-color: #2d303a;
    width: 100%;
}

.footer_body {
    width: 940px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.copyright {
    color: #666d89;
    font-size: 12px;
    font-weight: normal;
    letter-spacing: 0.2px;
}

.social_icons {
    display: flex;
    width: 153px;
    justify-content: space-between;
}

.social_icon {
    /* display: block; */
    width: 33px;
    height: 33px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 1px;
    border: 1px solid #767e9e;
    border-radius: 50%;
    box-sizing: border-box;
  }

  .social_icon svg {
    fill: #666d89;
  }
  .social_icon:hover svg {
    fill: #444652;
  }